body {
    background-color: #fbfbf9
  }

.video {
    display: flex;
    justify-content: center;
   }

   .titulo {
    display: flex;
    padding: 20px;
    font-family: "Noto Sans", sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-top: 70px;
    justify-content: center;
    margin-bottom: 0;
}

.c-text {
    display: grid;
    padding: 10px;
    justify-content: center;
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    gap: 300px;
    margin-bottom: 20px;
    grid-template-columns: 30% 40% 30%;
    padding-left: 400px;
}

.list {
    
    padding-left: 0;
}


  .br{
    font-family: "Noto Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
  }
   
   a:hover {
    color: #EC7063;
   }