@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: #fbfbf9
}

.titulo {
    display: flex;
    padding: 20px;
    font-family: "Noto Sans", sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-top: 70px;
    justify-content: center;
    margin-bottom: 0;
}

.intro {
    display: grid;
    padding: 10px;
    justify-content: center;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    gap: 300px;
    margin-bottom: 20px;
    grid-template-columns: 30% 40% 30%;
}


  .br{
    font-family: "Noto Sans", sans-serif;
    font-size: 25px;
    font-weight: 700;
  }
   
   a:hover {
    color: #EC7063;
   }

   .chegada {
    display: flex;
    width: 100%;
   }